{% extends 'bootstrap/base.html'%}

<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Square+Peg&display=swap" rel="stylesheet">
{% endblock %}
<!-- Content block -->

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}