{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}
<div class="display-books">
    <!-- Search form -->
    <div class="search-form" align="center">
        <form class="form-inline">
            <input type="text" class="form-control mb-2 mr-sm-2 input-form" name="book_query" id="" placeholder="Search book">
            <button type="submit" class="btn btn-primary mb-2 search-btn">Submit</button>
        </form>
    </div>
    
    <!-- Python books -->
    <div id="python-books">
        <h1 class="title-heading">Python books</h1>
        <table class="data-table">
            {{ macro.displayBooksList(python_books)}}
        </table>
    </div>
    <div class="separator" align="center">
        <hr>
    </div>
    <!-- Flask books -->
    <div id="flask-books">
        <h1 class="title-heading">Flask books</h1>
        <table>
            {{ macro.displayBooksList(flask_books)}}
        </table>
    </div>
    <div class="separator" align="center">
        <hr>
    </div>
    <!-- Django books -->
    <div id="django-books">
        <h1 class="title-heading">Django books</h1>
        <table>
            {{ macro.displayBooksList(django_books)}}
        </table>
    </div>
</div>
{% endblock%}