{% macro displayBooksList(books_list) %}


{% for book in books_list %}
<tr class="">
    <td>
        <div class="row table-row">
            <div class="col-md-3">
                <img src="{{book.image}}" alt="book-image">
            </div>
            <div class="col-md-3">
                <h4 class="book-title">{{book.title}}</h4>
                <p class="">Book by: 
                    <span class="book-author">
                        {{book.authors}}
                    </span>
                </p>
                <p class="">Published On: <span class="book-pub-date">{{book.publishedDate}}</span></p>
            </div>
            <div class="col-md-6">
                <h4 class="book-desc-title">Description</h4>
                {% if book.description %}
                <p class="book-desc">
                    {{book.description|truncate(300)}}
                    <a href="/book/{{book.id}}" class="view-more">view more.</a>
                </p>
                {% else %}
                <p class="">Ooops!! No description for this book</p>
                {% endif %}
            </div>
        </div>
    </td>
</tr>
{% endfor %}

{% endmacro %}